Algo/w1/Task1/Debug/
Algo/Project1/Project1/
Algo/w1/Task1/Task1/Debug/
Algo/w1/Task1/Task2_2/Debug/
Algo/Project1/.vs/
Algo/Project1/Debug/
Algo/w1/Task1/.vs/
.ipynb_checkpoints/
ML/HW1/submission/
Algo/w2/seminar/Seminar2/.vs/
Algo/w2/seminar/Seminar2/Seminar2/Debug/
Algo/w2/seminar/Seminar2/Debug/
Algo/w2/HW/HW2/task3_3/Debug/
Algo/w2/HW/HW2/Debug/
Algo/w2/HW/HW2/.vs/HW2/v16/
Algo/w2/HW/HW2/task4_4/Debug/
Algo/w3/Seminar3/.vs/
Algo/w3/Seminar3/Project/Debug/
Algo/sort_contest/Contest/Project/Debug/
Algo/w3/HW3/6_2/Debug/
Algo/w3/HW3/7_2/Debug/
Algo/w3/HW3/x64/
Algo/w3/HW3/7_2/x64/
Algo/w3/HW3/6_2/x64/
Algo/w3/HW3/.vs/HW3/v16/
Algo/w3/HW3/6_2/6_2.vcxproj.user
*.csv
Algo/w4/HW4/HW4/.vs/
Algo/w4/HW4/HW4/8_2/Debug/
Algo/w4/HW4/HW4/Debug/
Algo/w4/HW4/HW4/8_2/x64/
Algo/w7/hw7/Debug/
Algo/w7/hw7/14/Debug/
Algo/w7/hw7/13/Debug/
Algo/w7/hw7/.vs/
